body {
	margin: 0;
	padding: 0;

	background: #242424;
	color: #cdcdce;
	font-family: Arial, Helvetica, sans-serif;
}

header > h1 {
	text-transform: uppercase;
	font-family: 'Notable';
}

h6 {
	display: none;
}

/* For Mobile ------------------------------------------------------*/
@media (max-width: 481px) {
	.grid-container {
		display: grid;
		grid-template-areas: 
		"header"
		"article1"
		"table"
		"tableFooter"
		"aside"
		"footer";
	}
	
	#logo {
		display: none;
	}
	
	#menuToggle {
	display: block;
	position: absolute;
	right: 0;
	margin: 10px;

	z-index: 1;
	}

	#menuToggle input {
		display: block;
		width: 40px;
		height: 32px;
		position: absolute;
		top: -7px;
		left: -5px;

		cursor: pointer;

		opacity: 0;
		z-index: 2;
	}

	#menuToggle span {
		display: block;
		width: 33px;
		height: 4px;
		margin-bottom: 5px;
		position: relative;

		background: #cdcdcd;
		border-radius: 3px;

		z-index: 1;

		transform-origin: 4px 0px;
	}

	#menu {
		position: absolute;
		margin: -40px 0 0 -50px;
		padding: 10px;
		padding-top: 50px;

		background: #ededed;
		list-style-type: none;

		transform-origin: 0% 0%;
		transform: translate(100%, 0);

		transition: transform 0.2s;
	}

	#menuToggle input:checked ~ ul {
		transform: none;
	}

	#menuToggle input:checked ~ span {
		background-color: #232323;
	}
	
	article {
		display: none;
	}
}

/* For Tablet ------------------------------------------------------*/
@media (min-width: 481px) and (max-width: 1280px) {
	.grid-container {
		display: grid;
		grid-template-areas: 
		"header"
		"nav"
		"article1"
		"table"
		"tableFooter"
		"aside"
		"footer";
	}
	
	#logo {
		height: 75px;
	}
	
	nav {
		background-color: #f7ef00;
	}
	
	#menutoggle span, input {
		display: none;
	}
	
	#menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
	#menu > li {
	padding: 10px;
	float: left;
	}
	
	#aside1 {
		display: none;
	}
}

/* For PC ----------------------------------------------------------*/
@media (min-width: 1280px) {
	.grid-container {
		display: grid;
		grid-template-areas: 
		"header header"
		"nav nav"
		"article1 article1"
		"table aside"
		"tableFooter aside"
		"footer footer";
	}
	
	#logo {
		height: 100px;
	}
	
	nav {
		background-color: #f7ef00;
	}
	
	#menutoggle span, input {
		display: none;
	}
	
	#menu {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
	
	#menu > li {
		padding: 10px;
		float: left;
	}
	
	#innovations {
		display: none;
	}
}

header {
	grid-area: header;
}

nav {
	grid-area: nav;
}

#menu a {
	text-decoration: none;
	font-size: 22px;
	color: #232323;
}

#menu a:hover {
	color: #cdcdcd;
}

#menu a:active {
	color: #ffffff;
}

article {
	padding: 10px;
}

article {
	background-color: #700000;
	grid-area: article1;
}

table {
	grid-area: table;
}

td:first-child {
	background-color: #FF0;
}

td + td:nth-child(even) {
	background-color: #CFF;
}

td + td:nth-child(odd) {
	background-color: #FFF;
}

table, th, td {
	border-width: 2px;
	border-color: #9e9e9e;
	border-style: double;
}

th {
	padding: 0;
}

td {
	padding-left: 5px;
	color: #000
}

#tableFooter {
	background-color: #7d0000;
	text-align: center;
	padding: 10px;
	grid-area: tableFooter;
}

aside {
	background-color: #ad4200;
	grid-area: aside;
}

aside > a > img{
	width: 200px;
	margin: 10px;
	float: right;
}

#cookie {
	position: fixed;
	z-index: 9999;
	background-color: #FA0;
	opacity: 50%;
	right: 0;
	bottom: 0;
}

#cookie p {
	margin: 10px;
	color: #FFF;
}

#mainFooter {
	background-color: #000000;
	text-align: center;
	padding: 10px;
	grid-area: footer;
}